body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom NavBar Styles */
.custom-navbar {
  background-color: #565857; /* Example: Purple */
  padding: 10px 0; /* Add some padding for better spacing */
}

.navbar-brand {
  font-size: 30px; /* Adjust font size */
  line-height: 70px; /* Adjust line height */
  padding: 10px 0; /* Adjust padding (top and bottom) */
}

.custom-navbar .navbar-brand {
  color: #f5d3c8; /* Ensure the brand text is visible */
  font-weight: bold;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-navbar .nav-link {
  color: white; /* Ensure the links are visible */
  margin-right: 15px; /* Add spacing between links */
}

.custom-navbar .nav-link:hover {
  color: #f8f9fa; /* Change link color on hover */
}


/* Ensure the HTML and body take up the full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Flexbox layout for the app */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure the content grows to fill the available space */
.flex-grow-1 {
  flex-grow: 1;
}