body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom NavBar Styles */
.custom-navbar {
  background-color: #565857;
  padding: 10px 0;

.navbar-brand {
  font-size: 30px;
  line-height: 70px;
  padding: 10px 0;
}

.custom-navbar .navbar-brand {
  color: #f5d3c8;
  font-weight: bold;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-navbar .nav-link {
  color: white;
  margin-right: 15px;*/
}

.custom-navbar .nav-link:hover {
  color: #f8f9fa;/
}



html, body {
  height: 100%;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.flex-grow-1 {
  flex-grow: 1;
}